@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
h1 {
    margin: 0;
}
body { 
    font-family: consolas;
    padding: 20px;
    background-color: lawngreen;
    font-family: "Quicksand", sans-serif;
}
.section { 
    margin: 0;
    margin-bottom: 0.1rem;
    padding: 10px;
    font-family: consolas;
}
h2 { 
    color: black;
    margin: 0;
}
pre {
    background: black;
    padding: 1rem;
    color: lawngreen;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1rem;
    border-radius: 1rem;
}
a {
    color: black;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
@media (max-width: 600px) {
    body { 
        padding: 10px;
    }

    .section { 
        padding: 0.1px;
        margin: 0;
    }

    h2 { 
        font-size: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }

    pre { 
        font-size: 0.9rem; 
    }
}

